<div class="layoutWrapper">
  <section class="sideMenu">
    <div
      class="menu"
      [ngClass]="{
        activeMenu: selectedMenu === 'Dashboard'
      }"
      (click)="onMenuChange('Dashboard')"
    >
      Dashboard
    </div>
    <div
      class="menu"
      [ngClass]="{
        activeMenu: selectedMenu === 'Attendance'
      }"
      (click)="onMenuChange('Attendance')"
    >
      Attendance
    </div>
  </section>
  <div class="mainSection">
    <app-student-profile
      *ngIf="selectedMenu === 'Dashboard'"
    ></app-student-profile>
    <app-student-attendance
      *ngIf="selectedMenu === 'Attendance'"
    ></app-student-attendance>
  </div>
</div>
