@import "/src/assets//styles/variables.scss";

.attendanceWrapper {
  display: flex;
  height: 100%;
  .classView {
    flex: 50%;
  }
  .studentsView {
    flex: 50%;
    padding: 40px;
    border-left: 1px solid $white-12;
  }
}
