<div class="seederWrapper">
  <mat-card class="seeder mat-elevation-z8">
    <p>Click the button to add Class, Teacher and Students data to Database</p>
    <div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="addData()"
        [disabled]="loading"
        class="actionBtn"
      >
        Add Data
        <mat-spinner *ngIf="loading" [diameter]="25"></mat-spinner>
      </button>
    </div>
    <p *ngIf="loading">
      Please wait. This might take few seconds to complete...
    </p>
    <p *ngIf="result && !loading">{{ result }}</p>
  </mat-card>
</div>
