.seederWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(70deg, #c576c5, blueviolet);
  .seeder {
    width: 500px;
    background: #ececec;
    border: 1px solid #ebebee;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .actionBtn {
      font-weight: 700;
      font-size: 16px;
      height: 40px;
      ::ng-deep .mat-button-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
