@import "/src/assets//styles/variables.scss";

.classViewWrapper {
  height: 100%;
  overflow-y: auto;
  padding: 40px;
  .classViewHeader {
    color: $font-text-1;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .classViewSection {
    .classView {
      .classViewTable {
        width: 100%;
      }
    }
  }
}
